h1 {
  color: black;
}

p {
  color: black;
  font-size: large;
}

.propertynft {
  background-color: white;
  color: #fff;
  height: auto;
  width: 100%;
  position: relative;
  text-align: center;
}

.propertynft:before {
  content: '';
  background: rgb(241, 234, 234);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.propertynft .content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: auto;
  padding: 1rem;
}

.coming-soon {
  font-size: 25px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 24px;
  }

  .coming-soon {
    font-size: 20px;
  }

  .content-description p {
    font-size: 16px;
  }
}
