.about-us {
  margin-left: 10px;
  margin-right: 300px;
  min-height: 80vh;
}

.about-us h1 {
  margin-bottom: 15px;
}

@media screen and (max-width: 940px) {
  .about-us {
    margin-left: 10px;
    margin-right: 30px;
  }
}
