.misc {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
}

.house-calc {
  margin-top: 30px;
  width: 700px;
  height: 425px;
}
